body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
h3,h4{
    font-family: 'Arapey', serif;
    text-align: center;
    font-size: 3em;
}
.image{
    width: 400px;
}
.about p{
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
}
.images{
    width: 320px;
}
span{  
    font-size: 1.15em;
}

p{
    text-align: center;
}
.crs{
    padding-top: 50px;
    margin-top: 70px;
}
body{
    background-color: black;
    
}
.img-thumbnail{
    background: none;
    border-color: black;
    border-radius: 0;
    
}
.centers{
    text-align: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
  }
.alert-message{
    text-align: center;
    padding: 5px;
    background: whitesmoke; 
    color:black;
    margin-bottom: 5px;
    display: none;
}
