body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
h2,h3{
    font-family: 'Arapey', serif;
    text-align: center;
    font-size: 3em;
}
.image{
    width: 400px;
}
.about p{
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
}
.images{
    width: 320px;
}
span{  
    font-size: 1.15em;
}

h5{
    text-align: center;
}
.crs{
    padding-top: 50px;
    margin-top: 70px;
}
/*.wrapper{
    background-color: black;
}*/
.pp-background {
	background: rgba(0,0,0,0.7);/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0.7), #605C3C, #3C3B3F); 
    background: linear-gradient(to right, rgba(0,0,0,0.7), #605C3C, #3C3B3F);
	padding: 10px;
    z-index: 1;
}
